@using BookingSystem.DTO.Master.MstRoleDTO
@model RoleIndexDTO

@section breadCrumbs {
    <span>Role Index</span>
}

@{
    ViewData["Menu"] = "Role";
    ViewData["Title"] = "Role Index";
    var columnHead = new string[] { "Action", "Role" };
    var parameters = new
    {
        name = ViewBag.Name,
        page = ViewBag.Page
    };
}

<div class="form-bread-crumb">
    <span>@ViewData["Menu"]</span>
</div>

<div class="grid-container">
    <form class="filter" method="get" asp-controller="Role" asp-action="Index">
        <input type="text" name="name" placeholder="Role name..." value="@ViewBag.Name" />
        <button type="submit" class="blue-button"><i class="fas fa-search"></i></button>
    </form>
    <a class="blue-button create-button" asp-controller="Role" asp-action="Upsert">Add New</a>
    <table>
        <custom-thead columns="@columnHead"></custom-thead>
        <tbody>
            @foreach (var row in Model.Grid)
            {
                <tr>
                    <td>
                        <a class="blue-button" asp-action="Upsert" asp-route-roleId="@row.Id"><i class="far fa-edit"></i></a>
                        <a class="blue-button delete-button" asp-action="Delete" data-id="@row.Id" asp-route-roleId="@row.Id"><i class="far fa-window-close"></i></a>
                    </td>
                    <td>@row.Name</td>
                </tr>
            }
        </tbody>
        <pagination colspan="@columnHead.Length"
                    action="Index"
                    controller="Role"
                    total-pages="@Model.TotalPages"
                    parameters="@parameters"
                    page="@ViewBag.Page"></pagination>
    </table>
</div>